* {
    box-sizing: border-box;
}

main{
    padding-top: 32px;
}

.package{
    width: 80%;
    border: 4px solid #0e4f1f;
    margin: 16px 0;
    border-left: none;
}

.package a{
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 32px;
}

.package__subtitle{
    color: grey;
}

.package__info{
    border: 2px solid #0e4f1f;
    padding: 12px;
    font-size: 18px;
}

.package:hover,
.package:active{
    box-shadow: 2px 2px 4px rgb(209, 44, 44);
    border-color: #e92929;
}
.clearfix{
    clear: both;
}

#plus{
    background-color: #bee0be;
}

#free{
    background-color: #99d699;
    float: right;
    text-align: right;
    border-left:  4px solid #0e4f1f;
    border-right: none;
}

#free:hover,
#free:active{
    border-left-color: #e92929;
}

#premium{
    background-color: #124721;
}

.package__info{
    background-color: white;
}
#premium .package__title{
    color: white;
}

#premium .package__subtitle{
    color: rgb(126, 126, 126);
}








body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}
.main-footer{
    background-color: black;
    margin-top: 48px;
    padding:32px;
}

.main-footer__links{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.main-footer__link{
    display: inline-block;
    padding: 0 16px;
}

.main-footer__link a{
    text-decoration: none;
    color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active{
    color: rgb(194, 194, 194);
}